@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-instrument: "Instrument Sans", sans-serif;
}

@layer utilities {
  @variants responsive {
    .fade-sides {
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
}

body {
  background-color: #161514;
}

html {
  scroll-behavior: smooth;
}
